body > header {
  margin: 0 auto;
  min-height: 200px;
  background: $header-bg;
  text-align: center;
  h1 {
    display: inline-block;
    margin: 0;
    a, a:visited, a:hover {
      color: $gray;
      text-decoration: none;
    }
  }
  h2 {
    margin: .2em 0 0;
    @extend .sans;
    font-size: 1em;
    color: $subtitle-color;
    font-weight: normal;
  }
  .logo {
    vertical-align:middle;
    margin-left: -308px;
    margin-right: 10px;
  }
}


@media only screen and (max-width: 550px) {
  body > header {
    h1 {
      padding-top: 40px;
    }
    .logo {
      display: block;
      margin: 0 auto;
      max-width: 50%;
      max-height: 50%;
    }
  }
}
